# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:  Left table: books, Right table: to\_read

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: The first table shows the top 50 books (title, avg rating, count, user\_id and book\_id) regardless of if the user\_id is there or not. However, the second table uses the WHERE statement to filter out the null user\_id's of the top 50 books.

In [2]:

-- Query 1: LEFT JOIN 
SELECT TOP 25 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 25 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

title,average_rating,books_count,user_id,book_id
One Night at the Call Center,2.47,25,NULL,NULL
The Almost Moon,2.67,63,NULL,NULL
The Finkler Question,2.76,45,NULL,NULL
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613
Four Blondes,2.8,57,16845,6613
Four Blondes,2.8,57,17470,6613
Four Blondes,2.8,57,19763,6613
Four Blondes,2.8,57,21938,6613
Four Blondes,2.8,57,22289,6613
Four Blondes,2.8,57,23758,6613
Four Blondes,2.8,57,27874,6613
Four Blondes,2.8,57,28690,6613
Four Blondes,2.8,57,29023,6613
Four Blondes,2.8,57,29315,6613
Four Blondes,2.8,57,30245,6613
Four Blondes,2.8,57,36128,6613
Four Blondes,2.8,57,36554,6613
Four Blondes,2.8,57,38159,6613
Four Blondes,2.8,57,38800,6613

title,average_rating,books_count,user_id,book_id
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613
Four Blondes,2.8,57,16845,6613
Four Blondes,2.8,57,17470,6613
Four Blondes,2.8,57,19763,6613
Four Blondes,2.8,57,21938,6613
Four Blondes,2.8,57,22289,6613
Four Blondes,2.8,57,23758,6613
Four Blondes,2.8,57,27874,6613
Four Blondes,2.8,57,28690,6613
Four Blondes,2.8,57,29023,6613
Four Blondes,2.8,57,29315,6613
Four Blondes,2.8,57,30245,6613
Four Blondes,2.8,57,36128,6613
Four Blondes,2.8,57,36554,6613
Four Blondes,2.8,57,38159,6613
Four Blondes,2.8,57,38800,6613
Four Blondes,2.8,57,40361,6613
Four Blondes,2.8,57,40529,6613
Four Blondes,2.8,57,41485,6613

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Left if books and right is to\_read

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: Right Join is going to take all elements from the right table(to\_read) and fill in NULL for the left table if they're missing

In [114]:

-- Query 1: RIGHT JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,4
NULL,NULL,NULL,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
NULL,NULL,NULL,2,16
NULL,NULL,NULL,2,92
Dune Messiah (Dune Chronicles #2),3.86,140,2,106
NULL,NULL,NULL,2,113
NULL,NULL,NULL,2,233
NULL,NULL,NULL,2,247
NULL,NULL,NULL,2,380
NULL,NULL,NULL,2,408
NULL,NULL,NULL,2,439
NULL,NULL,NULL,2,479
NULL,NULL,NULL,2,516
NULL,NULL,NULL,2,619
NULL,NULL,NULL,2,1069
The Iliad,3.83,1726,2,1371
NULL,NULL,NULL,2,1384
NULL,NULL,NULL,2,1597
NULL,NULL,NULL,2,1926
NULL,NULL,NULL,2,1967
NULL,NULL,NULL,2,1969
NULL,NULL,NULL,2,2220

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: It's helpful seeing all the information, even if there are missing values in either the Left or Right tables. Using a Full Join makes it less likely that you will miss a row that could be important information.

In [113]:

-- FULL JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY average_rating DESC;

title,average_rating,books_count,user_id,book_id
The Complete Calvin and Hobbes,4.82,14,NULL,NULL
"Words of Radiance (The Stormlight Archive, #2)",4.77,34,NULL,NULL
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,9,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,245,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,265,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,318,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,361,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,422,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,435,8
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77,11,457,8

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer: Inner Join takes two tables' common elements and combines them into one table.&nbsp;</span> 

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span> 

> Your Answer: No because an inner join will not add elements to the joined table that aren't in both original tables.

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

In [112]:

-- INNER JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Start by joining the </span> **books** <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">and </span> **book\_tags**    <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>      <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.
> 
> **Title: The Alchemist (tagged 596234 times)**

**Part B:** How many different tags have been used for the most tagged book?

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span>    **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span>    **book\_tags**    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>      We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span>   
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id: The Night Circus&nbsp; with 34251 tag ID</b></span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag?</span>

> You may return this answer with a simple query.

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span>   
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name: 2017-final</b></span>

In [17]:
-- Code Here:
--Part 1 Code:
SELECT TOP 1 b.title, bt.count, bt.tag_id 
FROM BooksDB.dbo.books as b 
INNER JOIN BooksDB.dbo.book_tags as bt 
ON b.best_book_id = bt.goodreads_book_id
ORDER BY bt.count DESC; 

--Part 2 Code:
SELECT TOP 1 b.title, bt.count, bt.tag_id
FROM BooksDB.dbo.books as b 
RIGHT JOIN BooksDB.dbo.book_tags as bt 
ON b.best_book_id = bt.goodreads_book_id
WHERE b.title IS NOT NULL
ORDER BY bt.tag_id DESC;

--Part 3 Code:
SELECT TOP 1 b.count, b.tag_id, t.tag_name
FROM BooksDB.dbo.book_tags as b 
FULL JOIN BooksDB.dbo.tags as t 
ON b.goodreads_book_id = t.tag_id
WHERE t.tag_name IS NOT NULL
ORDER BY b.count DESC;

title,count,tag_id
The Alchemist,596234,30574

title,count,tag_id
The Night Circus,384,34251

count,tag_id,tag_name
596234,30574,2017-final

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id: the-queen-of-mystery with tag id 219**

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used: Title is Null and number of times it was tagged was 7**

In [111]:
-- Code Here: 

--Part A Code:
SELECT TOP 20 bt.tag_id, t.tag_name
FROM BooksDB.dbo.book_tags as bt
FULL JOIN BooksDB.dbo.tags as t 
ON bt.goodreads_book_id = t.tag_id
WHERE t.tag_name LIKE '%mystery%' AND bt.tag_id IS NOT NULL
ORDER BY bt.tag_id;

--Part B Code:
SELECT b.title, t.tag_id, t.count
FROM BooksDB.dbo.books as b
RIGHT JOIN BooksDB.dbo.book_tags as t 
ON b.best_book_id = t.tag_id
WHERE t.tag_id = 219;

tag_id,tag_name
219,the-queen-of-mystery
236,canadian-mystery
240,canadian-mystery
248,canadian-mystery
251,canadian-mystery
254,canadian-mystery
261,canadian-mystery
461,the-queen-of-mystery
487,chick-lit-mystery
487,canadian-mystery
923,canadian-mystery
923,chick-lit-mystery
923,the-queen-of-mystery
1145,the-queen-of-mystery
1416,the-queen-of-mystery
1416,mystery-thriller-and-suspense
1416,chick-lit-mystery
1642,chick-lit-mystery
1642,the-queen-of-mystery
1642,canadian-mystery

title,tag_id,count
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,7
NULL,219,6

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer: I will use best\_book\_id from boks and book\_id from to\_read

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [97]:
-- Code Here:
--SELECT COUNT(*) AS 'number of users' FROM BooksDB.dbo.to_read GROUP BY user_id ORDER BY user_id; 
--SELECT best_book_id, books_count, title, average_rating FROM BooksDB.dbo.books ORDER BY best_book_id;

SELECT TOP 10 b.title AS 'Book Title', COUNT(tr.user_id) AS 'Count of Individual Readers'
FROM BooksDB.dbo.to_read AS tr
INNER JOIN BooksDB.dbo.books AS b ON tr.book_id = b.best_book_id
GROUP BY b.title
ORDER BY COUNT(tr.user_id) DESC;

Book Title,Count of Individual Readers
The Ultimate Hitchhiker's Guide to the Galaxy,1812
The Lord of the Rings: The Art of The Fellowship of the Ring,1499
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",1498
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",1484
The Known World,1352
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",1293
The Lord of the Rings: Weapons and Warfare,1211
Notes from a Small Island,1148
"Harry Potter Collection (Harry Potter, #1-6)",1110
"The Lord of the Rings (The Lord of the Rings, #1-3)",1094

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [110]:
-- Code Here:
SELECT TOP 10 tr.user_id AS 'Top Users (ID Num)', COUNT(b.title) AS 'Num of Books to Read'
FROM BooksDB.dbo.books as b 
INNER JOIN BooksDB.dbo.to_read AS tr ON tr.book_id = b.best_book_id
GROUP BY tr.user_id
ORDER BY COUNT(b.title) DESC; 

SELECT tr.user_id, b.title
FROM BooksDB.dbo.to_read AS tr
INNER JOIN BooksDB.dbo.books AS b ON tr.book_id = b.best_book_id 
WHERE tr.user_id = '14771'

Top Users (ID Num),Num of Books to Read
14771,15
38201,15
11932,15
12483,15
27933,14
36923,14
37359,14
6772,13
51137,13
42636,13

user_id,title
14771,"The Fellowship of the Ring (The Lord of the Rings, #1)"
14771,"Harry Potter and the Order of the Phoenix (Harry Potter, #5)"
14771,"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
14771,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings
14771,In a Sunburned Country
14771,A Widow for One Year
14771,Tropic of Cancer
14771,The Iliad/The Odyssey
14771,The Lost Continent: Travels in Small Town America
14771,The New York Trilogy
14771,The Lord of the Rings: The Art of The Fellowship of the Ring
14771,The Known World
14771,Ten Apples Up On Top!
14771,Leviathan
14771,What to Expect the First Year (What to Expect)